body {
  background-color: rgb(24, 31, 31);
  color: black;
  margin: 0 auto;
  display: inline-block;
}

.sheet {
  background-color: white;
  width: 50vw;
  height: 98vh;
  min-width: 650px;

      
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  
  box-shadow: 12px 0 15px -4px rgba(5, 5, 5, 0.8), -12px 0 8px -4px rgba(5, 5, 5, 0.8);

}

.header {
  width: 98%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 4px 2px -2px gray;
}

.container1 {
  width: 95%;
  height: 90%;
  margin: auto;
  padding-top: 10px;
  border: 1px solid black;
  display: flex;
}

.basicInfo {
  width: 35%;
  height: 60%;
  border: 1px solid black;
}

.container2{
  width: 65%;
  height: 100%;
  border: 1px solid black;
}

.workInfo {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

.educationInfo {
  width: 100%;
  height: 50%
}